


@using (Html.BeginForm("SavePassword", "Home", FormMethod.Post))
{
    <!-- /Logo -->
    <h4 class="mb-2">Reset Password 🔒</h4>

    <input type="hidden" value=@ViewBag.EmailId id="email" name="email" />

    <div class="mb-3">
        <label class="form-label">New Password</label>

        <input type="password" class="form-control" name="Password" id="password" pattern="(?=.*\d)(?=.*[^A-Za-z0-9])(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
        <small id="passval">

        </small>
    </div>
    <div class="mb-3">
        <label class="form-label">Confirm Password</label>

        <input type="password" class="form-control" id="confirm_password" name="password1" pattern="(?=.*\d)(?=.*[^A-Za-z0-9])(?=.*[a-z])(?=.*[A-Z]).{8,}" required />

        <small id="output">

        </small>

    </div>
    <div class="mb-3">
        <button class="btn btn-primary d-grid w-100" type="submit">SAVE</button>
    </div>

}

<script>
    $(document).ready(function () {

        $("#password").change(validatePassword);
        $("#confirm_password").keyup(validatePassword);

        $('#password').keyup(function () {
            $('#passval').html(passRequirements($('#password').val()))
        })
    });
    function validatePassword() {
        var password = $("#password")
            , confirm_password = $("#confirm_password")
        if (password.val() != confirm_password.val()) {
            @* confirm_password[0].setCustomValidity("Passwords do not match!!") *@
            $('#output').addClass("text-danger");
            $('#output').text("Password not matched*").show();
        } else {
            @* confirm_password[0].setCustomValidity("") *@
            $('#output').removeClass("text-danger");
            $('#output').addClass("text-success");
            $('#output').text("Password matched!!").show();
        }
    }

    function passRequirements(password) {
        $("#passval").addClass("text-danger");
        if (!(/^(.{8,20}$)/.test(password))) {
            return 'Password must be between 8 to 20 characters long.';
        }
        else if (!(/^(?=.*[A-Z])/.test(password))) {
            return 'Password must contain at least one uppercase.';
        }
        else if (!(/^(?=.*[a-z])/.test(password))) {
            return 'Password must contain at least one lowercase.';
        }
        else if (!(/^(?=.*[0-9])/.test(password))) {
            return 'Password must contain at least one digit.';
        }
        else if (!(/^(?=.*[@@#$%&])/.test(password))) {
            return "Password must contain special characters.";
        } else if ((/(?=.*\d)(?=.*[^A-Za-z0-9])(?=.*[a-z])(?=.*[A-Z]).{8,}/.test(password))) {
            $("#passval").removeClass("text-danger");
            $("#passval").addClass("text-success");
            return "Strong Password"
        }
    }
</script>
